{% load static %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{%static 'poll/main.css'%}">
    <style>
.slidecontainer {
  width: 100%;
}
body{
  margin-top: 1rem;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 40%;
  font-weight: bold;

}
.button3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button4 {
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background-image: url('/media/graySlide.jpg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slideTemp{
  background-image: url('/media/slide.jpg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
    .first {
      display: none;
      }
}
</style>
	<title> image editing survey </title>

</head>

<body>
<!-- 	<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <h1 class="navbar-brand mr-4">Image Editing Survey</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
        </div>
        <div class="navbar-nav">

        </div>
      </div>
    </div>
  </nav>
</header> -->

	<div class="container">
	{% block content %}
	{% endblock %}

	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.0/math.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">


      	var flash = document.getElementById("flashCan");
      	var ambient = document.getElementById("ambientCan");
      	var output = document.getElementById("output");
      	var first = document.getElementById("first");
      	var flashimg = document.getElementById("flash");
      	var ambientimg = document.getElementById("ambient");
      	var flashCanvas = document.getElementById("flashCanvas");
      	var flashOutput = document.getElementById("flashOutput");
      	var output2 = document.getElementById("output2");

      	var output2Context = output2.getContext("2d");
      	var outputContext = output.getContext("2d");
      	var firstContext = first.getContext("2d");
      	var flashContext = flash.getContext("2d");
      	var ambientContext = ambient.getContext("2d");
      	var flashContext2 = flashCanvas.getContext("2d");
      	var flashOutputContext = flashOutput.getContext("2d");
      	var des = document.getElementById("des").innerHTML;
      	var matrix = document.getElementById("matrix").innerHTML;
        // var color = document.getElementById("color").innerHTML;
        var picID = document.getElementById("picID").innerHTML;
        picID = parseInt(picID)
        console.log("picID")
        console.log(picID)
        // var colorAm = document.getElementById("colorAm").innerHTML;

      	// var exp = document.getElementById("exp").innerHTML;

      	var flashData, ambientData,output2Data,matrix,firstData, flashOutputData;
      	var zarib;
      	var MA, M, invMA;
      	var slider = document.getElementById("myRange");
      	var flashTempSlider = document.getElementById("flashTempRange");
      	var output1 = document.getElementById("demo");
      	var flashSlider = document.getElementById("flashRange");
      	var ambientSlider = document.getElementById("ambientRange");
        var mixSlider = document.getElementById("mixRange");
      	var fixedAmbient, fixedAmbient_orig, fixedFlash, currentAmbient, currentFlash;
      	var outFlash;
        var neutral;
        var defaultBrightness;

        des = parseInt(des);
        if (des ==17) {neutral = 48;}
        else if (des == 21) {neutral = 42;}
        
        console.log("image temperature")
        console.log(neutral)
        document.getElementById("flashTempRange").value = neutral;

        function myFunction() {
       document.getElementById("flashTempRange").value = neutral;
        // document.getElementById("ambientRange").value = 100;
        // document.getElementById("flashRange").value = 100;
        document.getElementById("mixRange").value = 110;

        }
    	// output1.innerHTML = slider.value;
      	window.onload = function() {

        	ambientContext.drawImage(ambientimg, 0,0,flashimg.width, flashimg.height);
        	flashContext.drawImage(flashimg, 0,0,flashimg.width, flashimg.height);
        	firstContext.drawImage(flashimg, 0,0,flashimg.width, flashimg.height);
        	output2Context.drawImage(flashimg, 0,0,flashimg.width, flashimg.height);


        	flashData = flashContext.getImageData(0, 0, flashimg.width, flashimg.height);
        	ambientData = ambientContext.getImageData(0, 0, ambientimg.width, ambientimg.height);
        	firstData = firstContext.getImageData(0, 0, flashimg.width, flashimg.height);
        	output2Data = output2Context.getImageData(0, 0, flashimg.width, flashimg.height);



          //initialize camera matrix
          console.log(matrix)

        	matrix = matrix.split('    ').map(function(item) {
          		return parseFloat(item, 10);
        	});

          // console.log(color)
        	

        	XYZtoCamera = new Array(3);
        	for (var i = 0; i < 3; i++) {
          		XYZtoCamera[i] = new Array(3)
          		for (var j = 0; j < 3; j++) {
            		XYZtoCamera[i][j] = matrix[i*3 + j];
          		}
        	}

        	// console.log(XYZtoCamera)
        	invXYZtoCamera = math.inv(XYZtoCamera);
        	// console.log(invXYZtoCamera)
        	height = flash.height;
        	width = flash.width;

          // originalTemp2 = parseInt(colorAm);
          // neutral2 = (originalTemp2 - 3000)/80;

          //fix images with camera Matrix
          zarib = fixWhitePoint(des);
        	fixedAmbient = fixColorMap(ambientData.data);
        	fixedFlash = fixColorMap(flashData.data);



          // console.log("first flash")
          // console.log(fixedFlash)
        	// console.log(fixedAmbient)


          // change the ambient brightness randomly
          //fixedAmbient_orig=fixedAmbient;
          if (picID == 30 || picID==20 || picID==49 || picID==14 || picID==45){

            fixedFlash = fixBrightnessFlash(fixedFlash);
          }
          fixedAmbient = fixBrightnessAmbient(fixedAmbient);
          fixedAmbient = fixColorAmbient(fixedAmbient);
 
        	//blend fixed images
          blend2(fixedAmbient,fixedFlash,100,100,firstData.data,zarib);
        	blend2(fixedAmbient,fixedFlash,100,100,output2Data.data,zarib);
          defaultBrightness = getBrightness(firstData.data)
          //update canvases
        	output2Context.putImageData(output2Data, 0, 0);
        	firstContext.putImageData(firstData, 0, 0);

          //set current images
          currentFlash=fixedFlash;
          currentAmbient=fixedAmbient;


    	}

      mixSlider.oninput = function(){


        //if the slider is in neutral position...
        if(this.value==100){
            //... set the current ambient value to original value...
            currentAmbient=fixedAmbient;
            currentFlash = fixedFlash;
        }else{
            //... else adjust current ambient value.

              currentAmbient = adjustBrightness(fixedAmbient,200-this.value);
              currentFlash = adjustBrightness(fixedFlash,this.value);
     
            if (flashSlider.value != 0){
                currentFlash=fixTemp2(currentFlash,flashTempSlider.value);}
        }

        //console.log(currentAmbient)
        // apply changed ambient brightness to overall image.
        var output=blendImages(currentAmbient,currentFlash,zarib);

        output = fixBrightness(output)
        let update = new ImageData(output,flashimg.width,flashimg.height);


        // update output
        output2Context.putImageData(update,0,0);


      }





      // if flash temperature is adjusted /////
  		flashTempSlider.oninput = function() {

        //if the slider is in neutral position...
        if(this.value==this.flashTempRange/2){

            //... set the current flash temp value to original value...
      			currentFlash=fixedFlash;
        }else{
            //... else adjust current flash value.
      			//preBlend2(currentFlash,this.value,outFlash);
            currentAmbient = adjustBrightness(fixedAmbient,200 - mixSlider.value);
            currentFlash = adjustBrightness(fixedFlash,mixSlider.value);
            if(flashSlider.value != 0){
              currentFlash=fixTemp2(currentFlash,this.value);}
        }
// 
        // console.log("current flash generated");
        // apply changed flash temperature to overall image.
      	var output=blendImages(currentAmbient,currentFlash,zarib);
        // console.log(output)
        let update = new ImageData(output,flashimg.width,flashimg.height);

        // update output
      	output2Context.putImageData(update, 0, 0);
  		}



		  ////// utility functions //////////////////////

/*  		function preBlend(ambient,flash,slider,output) {

      		var temp = new Float32Array(ambient.length)

      		//console.log(ambient);
      		for (var i = 0; i < ambient.length; i+= 4) {
			    temp[i] = ambient[i]*slider/100 + flash[i]*(100-slider)/100;
			    temp[i+1] = ambient[i+1]*slider/100 + flash[i+1]*(100-slider)/100;
			    temp[i+2] = ambient[i+2]*slider/100+ flash[i+2]*(100-slider)/100;
      		}
       		//console.log(temp)
       		//console.log(output)
        	for (var i = 0; i < ambient.length; i+=4) {
		        output[i] = temp[i];
		        output[i+1] = temp[i+1];
		        output[i+2] = temp[i+2];
		        output[i+3] = 255;
        	}
    	}*/


/*		  function preBlend2(flash,slider,output) {
    		// console.log(ambient)
    		//  console.log(flash)
    		// console.log(slider)
      		var temp = new Float32Array(flash.length);
      		temp=fixTemp2(flash,slider);
      		var diff= new Float32Array(flash.length);

    		// console.log(temp)
    		// console.log(output)
      		for (var i = 0; i < flash.length; i+=4) {
        		//diff[i]=temp[i]-flash[i];
        		output[i] = temp[i];
        		output[i+1] = temp[i+1];
        		output[i+2] = temp[i+2];
        		output[i+3] = 255;

      		}
      		//console.log(temp);
  		}*/


      function adjustBrightness(input,slider) {
        // console.log(ambient)
        //  console.log(flash)
        // console.log(slider)
        var temp = new Float32Array(input.length)
        var output = new Float32Array(input.length)

        //console.log(ambient);
        for (var i = 0; i < input.length; i+= 4) {
          temp[i] = input[i]*slider/100;
          temp[i+1] = input[i+1]*slider/100;
          temp[i+2] = input[i+2]*slider/100;
        }


        // console.log(temp)
        // console.log(output)
        for (var i = 0; i < input.length; i+=4) {
          //diff[i]=temp[i]-flash[i];
          output[i] = temp[i];
          output[i+1] = temp[i+1];
          output[i+2] = temp[i+2];
          output[i+3] = 255;

        }


        return output;
          //console.log(temp);
      }


      // function adjustColor(input, color, blend){
      //
      //   var output = new Float32Array(input.length);
      //   var source = zarib;
      //   // console.log(color)
      //   // console.log(30*color/50-30)
      //   // console.log(roD)
      //   originalTemp = 0;
      //   cnt = 0;
      //   for (var i = 0; i < input.length; i+=4) {
      //       // console.log("her")
      //       var x = input[i];
      //       var y = input[i+1];
      //       var z = input[i+2];
      //       // console.log(temp[i])
      //       // console.log(temp[i+1])
      //       // console.log(temp[i+2])
      //       // console.log("rgb")
      //
      //       var white = [0.9504, 1.0000, 1.089];
      //       var lab = xyz2lab(x,y,z,white);
      //
      //       // console.log("check lab")
      //       // console.log(lab[0])
      //      // console.log(lab[2])
      //       originalTemp = originalTemp + lab[2];
      //       cnt = cnt +1;
      //   }
      //
      //   originalTemp = originalTemp/cnt;
      //   console.log("originalTemp")
      //   console.log(originalTemp)
      //   for (var i = 0; i < input.length; i+=4) {
      //       // console.log("her")
      //       var x = input[i];
      //       var y = input[i+1];
      //       var z = input[i+2];
      //       // console.log(temp[i])
      //       // console.log(temp[i+1])
      //       // console.log(temp[i+2])
      //       // console.log("rgb")
      //
      //       var white = [0.9504, 1.0000, 1.089];
      //       var lab = xyz2lab(x,y,z,white);
      //
      //       // console.log("check lab")
      //       // console.log(lab[0])
      //      // console.log(lab[2])
      //       lab[2]=lab[2]-(30*(color)/40-30);
      //
      //       // console.log(lab[0])
      //       var xyz= lab2xyz(lab,white);
      //
      //       // console.log(rgb)
      //       output[i] = xyz[0];
      //       output[i+1] = xyz[1];
      //       output[i+2] = xyz[2];
      //       output[i+3] = 255;
      //   }
      //   Temp = 0;
      //   cnt = 0;
      //   for (var i = 0; i < output.length; i+=4) {
      //       // console.log("her")
      //       var x = output[i];
      //       var y = output[i+1];
      //       var z = output[i+2];
      //       // console.log(temp[i])
      //       // console.log(temp[i+1])
      //       // console.log(temp[i+2])
      //       // console.log("rgb")
      //
      //       var white = [0.9504, 1.0000, 1.089];
      //       var lab = xyz2lab(x,y,z,white);
      //
      //       // console.log("check lab")
      //       // console.log(lab[0])
      //      // console.log(lab[2])
      //       Temp = Temp + lab[2];
      //       cnt = cnt +1;
      //   }
      //
      //   Temp = Temp/cnt;
      //   console.log("temp");
      //   console.log(Temp);
      //
      //   return output;
      // }


  		// function blend(ambient,flash, slider,output,zarib) {
    //   		// console.log(ambient)
    //   		// console.log(flash)
    //   		// console.log(slider)
    //   		var temp = new Float32Array(ambient.length)
    //   		for (var i = 0; i < ambient.length; i+= 4) {
    //     		temp[i] = ambient[i]*slider/100 + flash[i]*(100-slider)/100;
    //     		temp[i+1] = ambient[i+1]*slider/100 + flash[i+1]*(100-slider)/100;
    //     		temp[i+2] = ambient[i+2]*slider/100+ flash[i+2]*(100-slider)/100;
    //   		}
    //   		// console.log(temp)
    //   		for (var i = 0; i < ambient.length; i+=4) {
    //     		// console.log("her")
    //     		var x = temp[i];
    //     		var y = temp[i+1];
    //     		var z = temp[i+2];
				// // console.log(temp[i])
    //     		// console.log(temp[i+1])
    //     		// console.log(temp[i+2])
    //     		// console.log("rgb")
    //     		var rgb = xyz2rgb(x,y,z,zarib);
    //     		// console.log(rgb)
    //     		output[i] = rgb[0]*255;
    //     		output[i+1] = rgb[1]*255;
    //     		output[i+2] = rgb[2]*255;
    //     		output[i+3] = 255;
    //     		// console.log(rgb[0]*255)
    //     		// console.log(output[i])
    //   		}
		  // }


		  function blend2(ambient,flash, flashSlider,ambientSlider, output,zarib) {
    		  // console.log(ambient)
      		// console.log(flash)
      		var temp = new Float32Array(ambient.length)
      		for (var i = 0; i < ambient.length; i+= 4) {
        		temp[i] = ambient[i]*ambientSlider/100 + flash[i]*(flashSlider)/100;
        		temp[i+1] = ambient[i+1]*ambientSlider/100 + flash[i+1]*(flashSlider)/100;
        		temp[i+2] = ambient[i+2]*ambientSlider/100+ flash[i+2]*(flashSlider)/100;
      		}
      		// console.log(temp)
      		for (var i = 0; i < ambient.length; i+=4) {
        		// console.log("her")
        		var x = temp[i];
		        var y = temp[i+1];
		        var z = temp[i+2];
		        // console.log(temp[i])
		        // console.log(temp[i+1])
		        // console.log(temp[i+2])
		        // console.log("rgb")
		        var rgb = xyz2rgb(x,y,z,zarib);
		        // console.log(rgb)
		        output[i] = rgb[0]*255;
		        output[i+1] = rgb[1]*255;
		        output[i+2] = rgb[2]*255;
		        output[i+3] = 255;
		        // console.log(rgb[0]*255)
		        // console.log(output[i])
      		}

  		}


      function blendImages(a,f,zarib) {
        // console.log(ambient)
          // console.log(flash)
          // console.log(slider)
          var temp = new Float32Array(a.length)
          var output = new Uint8ClampedArray(a.length)


          for (var i = 0; i < a.length; i+= 4) {
            temp[i] = a[i] + f[i];
            temp[i+1] = a[i+1] + f[i+1];
            temp[i+2] = a[i+2] + f[i+2];
          }
          // console.log(temp)
          for (var i = 0; i < a.length; i+=4) {
            // console.log("her")
            var x = temp[i];
            var y = temp[i+1];
            var z = temp[i+2];
            // console.log(temp[i])
            // console.log(temp[i+1])
            // console.log(temp[i+2])
            // console.log("rgb")
            var rgb = xyz2rgb(x,y,z,zarib);
            // console.log(rgb)
            output[i] = rgb[0]*255;
            output[i+1] = rgb[1]*255;
            output[i+2] = rgb[2]*255;
            output[i+3] = 255;
            // console.log(rgb[0]*255)
            // console.log(output[i])
          }

          //console.log(a)
          return output;

      }


  		function fixWhitePoint(calibrationIlluminant){
    		// d65 = [0.9504, 1.0000, 1.089];
		    if (calibrationIlluminant == 17)
          //a
		    	// zarib =  [[0.8446965, -0.1179225,  0.3948108],
          //           [-0.1366303,  1.1041226,  0.1291718],
          //           [0.0798489, -0.1348999,  3.1924009]];
          zarib =
                [[0.8652435 , 0.0000000,  0.0000000],
                 [0.0000000,  1.0000000,  0.0000000],
                 [0.0000000,  0.0000000,  3.0598005]];
		    else if (calibrationIlluminant == 19)
          //c
		    	// zarib = [[0.9972812, -0.0093756, -0.0154171],
		     //        	[-0.0010298,  1.0007636,  0.0002084],
		     //        	[0.0000000,  0.0000000,  0.9209267]];
            zarib=
                  [[0.9691356,  0.0000000,  0.0000000],
                  [0.0000000,  1.0000000,  0.0000000],
                  [0.0000000,  0.0000000,  0.9209267]];
		    //     makhraj = [0.9807, 1.0000, 1.1822];
		    else if (calibrationIlluminant == 20)
          //d55
          zarib =
                   [[0.9933634,  0.0000000,  0.0000000],
                   [0.0000000,  1.0000000, 0.0000000],
                   [0.0000000,  0.0000000  ,1.1815972]];
		    	// zarib = [[0.9905739, -0.0328729,  0.0385701],
		     //        	[-0.0036109,  1.0027841,  0.0007280],
		     //        	[0.0000000,  0.0000000,  1.1815972]];
		    //     makhraj = [0.9568, 1.0000, 0.9214];
		    else if (calibrationIlluminant == 21)
          //d65
		    	zarib = [[1, 0,  0],
		                [0,  1,  0],
		                [0,  0,  1]];
		    //     makhraj = d65;
		    else if (calibrationIlluminant == 23)
          //d50
          zarib = [[1.0077340,  0.0000000,  0.0000000],
                  [0.0000000,  1.0000000,  0.0000000],
                  [0.0000000,  0.0000000,  0.8955170]];
		        // zarib = [[0.9845002, -0.0546158, 0.0676324],
		        //         [-0.0059992,  1.0047864,  0.0012095],
		        //         [0.0000000,  0.0000000,  1.3194581]];
		    return zarib;
		    //     makhraj =  [0.9642, 1.0000, 0.8251];
		    // console.log(d65[0]/makhraj[0])
		    // console.log(d65[2]/makhraj[2])
		    // return [d65[0]/makhraj[0], 1.0, d65[2]/makhraj[2]];
		  }


  		function xyz2rgb(X, Y, Z,zarib) {
		    // console.log(0.4985314*Z);
		    X = X * zarib[0][0] + Y*zarib[0][1] + Z*zarib[0][2];
		    Y = X * zarib[1][0] + Y*zarib[1][1] + Z*zarib[1][2];
		    Z = X * zarib[2][0] + Y*zarib[2][1] + Z*zarib[2][2];
		    var R =  3.2404542*X - 1.5371385*Y - 0.4985314*Z;
		    var G = -0.9692660*X + 1.8760108*Y + 0.0415560*Z;
		    var B =  0.0556434*X - 0.2040259*Y + 1.0572252*Z;
		    // console.log(R);
		    R = adj(R);
		    G = adj(G);
		    B = adj(B);
		    return [R, G, B];
  		}


      // function from http://www.brucelindbloom.com/
      function xyz2lab(X,Y,Z,index) {

        if(index==17){
          white = [1.09850,1.00000,0.35585];
        }else if (index==19) {
          white=[0.9807, 1.0000, 1.1822];

        }else if (index==20){
          white= [0.9568, 1.0000, 0.9214];
        }else if (index==21){
          white = [0.9504, 1.0000, 1.089];
        }else if (index==23){
          white =  [0.9642, 1.0000, 0.8251];
        }


        X = X /white[0];
        Y = Y /white[1];
        Z = Z /white[2];

        var epsilon=0.008856 //CIE Standard
        var k = 903.3 // CIE Standard

        if (X>epsilon){
          var fx  = Math.pow(X,1/3);
        }else{
          var fx = (k*X +16)/116;
        }

        if (Y>epsilon){
          var fy = Math.pow(Y,1/3);
        }else{
          var fy=(k*Y+16)/116;
        }

        if (Z>epsilon){
          var fz = Math.pow(Z,1/3);
        }else{
          var fz=(k*Z+16)/116;
        }
        // console.log(R);
        var L = 116*fy-16;
        var a = 500*(fx-fy);
        var b = 200*(fy-fz);
        return [L, a, b];
      }



      function lab2xyz(lab,white) {

        var epsilon=0.008856 //CIE Standard
        var k = 903.3 // CIE Standard

        var fy = (lab[0]+16)/116;
        var fz = fy-lab[2]/200;
        var fx= lab[1]/500 + fy;

        if (Math.pow(fx,3)>epsilon){
          var xr  = Math.pow(fx,3);
        }else{
          var xr=(116*fx-16)/k;
        }

        if (lab[0]>k*epsilon){
          var yr = Math.pow(((lab[0]+16)/116),3);
        }else{
          var yr=lab[0]/k;
        }

        if (Math.pow(fz,3)>epsilon){
          var zr = Math.pow(fz,3);
        }else{
          var zr=(116*fz-16)/k;
        }
        // console.log(R);
        var X = xr*white[0];
        var Y = yr*white[1];
        var Z = zr*white[2];
        return [X, Y, Z];
      }



      function adj(C) {
        if (C >0 && C < 0.0031308) {
          return 12.92 * C;
        }

        return 1.055 * Math.pow(C, 0.41666) - 0.055;
      }


      function fixColorMap(data){
        output = new Float32Array(data.length);
        // console.log(data)
        // output = math.zeros(data.length);
        // console.log(math.max(data));
        // console.log("ge")
        // var invXYZtoCamera=[[1, 0, 0], [0, 1, 0], [0, 0, 1]];
        // console.log(output)
        for (var i = 0; i < data.length; i+=4) {
	      	output[i+3] = 255;
	      	for (var j=0; j <3; j++){
	        	// console.log(data[i])
	        	// console.log(data[i+1])
	        	// console.log(data[i+2])
	        	// console.log("hhhh")
	        	// console.log(invXYZtoCamera[j][0] * data[i]+ invXYZtoCamera[j][1] * data[i+1] + invXYZtoCamera[j][2] * data[i+2])
	        	output[i+j] = invXYZtoCamera[j][0] * data[i]/255+ invXYZtoCamera[j][1] * data[i+1]/255+ invXYZtoCamera[j][2] * data[i+2]/(255);
	      	}
           //output[i]=output[i]*zarib[0][0];
           //output[i+1]=output[i+1]*zarib[1][1];
           //output[i+2]=output[i+2]*zarib[2][2];

        }
        return output;
      }



   // 	function fixTemp(data, destination){
	  //   output = new Float32Array(data.length);
	  //   var source = [0.95047, 1, 1.08883];

	  //   // console.log(MA)
	  //   roD = MA[0][0]+ destination[0] + MA[0][1]* destination[1]+ MA[0][2]*destination[2];
	  //   landaD = MA[1][0]*destination[0] + MA[1][1]* destination[1]+ MA[1][2]*destination[2];
	  //   bethaD = MA[2][0]*destination[0] + MA[2][1]* destination[1]+ MA[2][2]*destination[2];

	  //   roS = MA[0][0]+ source[0] + MA[0][1]* source[1]+ MA[0][2]*source[2];
	  //   landaS = MA[1][0]*source[0] + MA[1][1]* source[1]+  MA[1][2]*source[2];
	  //   bethaS = MA[2][0]*source[0] + MA[2][1]* source[1]+ MA[2][2]*source[2];
	  //   var temp = [[roD/roS, 0, 0], [0, landaD/landaS, 0], [0, 0, bethaD/bethaS]];
	  //   temp = math.multiply(invMA, temp);
	  //   M =math.multiply(temp, MA);

   //  	// console.log(roD)
   //  	for (var i = 0; i < data.length; i+=4) {
		 //    var X = data[i];
		 //    var Y = data[i+1];
		 //    var Z = data[i+2];
		 //    X = X * M[0][0] + Y*M[0][1] + Z*M[0][2];
		 //    Y = X * M[1][0] + Y*M[1][1] + Z*M[1][2];
		 //    Z = X * M[2][0] + Y*M[2][1] + Z*M[2][2];
		 //    output[i] = X;
		 //    output[i+1] = Y;
		 //    output[i+2] = Z;
		 //    output[i+3] = 255;
   //  	}

   //  	return output;
  	// }


    // function findBrightestPixels(image){
    //   var xlocal=0;
    //   var ylocal=0;
    //   var zlocal=0;
    //   var localdist=1000
    //   for (var i = 0; i < image.length; i+=4){
    //       chromx =image[i]/math.max(image[i]+image[i+1]+image[i+2],0.01);
    //       chromy =image[i]/math.max(image[i]+image[i+1]+image[i+2],0.01);
    //       if(0.4<chromx<0.6 && 0.4<chromy<0.6){
    //             xlocal=image[i];
    //             ylocal=image[i+1];
    //             zlocal=image[i+2];
    //         }
    //   }
    //   return [xlocal,ylocal,zlocal];
    // }



  	function fixTemp2(image,tempChange){
	   	output_new = new Float32Array(output.length);
      console.log("illuminant")
      console.log(des)
      if (des == 17){
      t2 = 5500;
      console.log(tempChange)
      console.log("image temperature")
      // console.log(t);
      // var ratio = (t2 - 3000)/5856;
      // var ratio2 = (10000- t2)/5856;
  
	   	// console.log("slider")
	   	// console.log(tempChange)
      if (tempChange == neutral)
        return image;
      else{

        var changeNorm=(tempChange-neutral)/100;

        // if (changeNorm < 0)
        //     changeNorm = changeNorm*ratio;
        // if (changeNorm > 0)
        //   changeNorm = changeNorm*ratio2;
// 1500 = t2 + changeNorm*5856
     		var t = (math.round(t2+changeNorm*5856));
     		// newTemp = t;
        console.log("temperature")
        console.log(t)

     		var xD, yD=0;

     		// get xy from temperature
     		// if(temperature <= 7000){
     		//   xD=0.244063+(-4.6070*10**9/temperature**3)+(2.9678*10**6/temperature**2)+(0.09911*10**3/temperature);
     		// }else{
     		//   xD=0.237040+(-2.0064*10**9/temperature**3)+(1.9018*10**6/temperature**2)+(0.24748*10**3/temperature);
     		// }
     		// yD=-3*xD**2 + 2.870*xD - 0.275;
        if (t<=10000 && t>6500){
        r=getRatio(t,6500,10000)
        xD = 0.3;
        yD = 0.3;
        xS = 0.3118;
        yS = 0.3224;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        else if (t<=6500 && t>5500){
        r=getRatio(t,5500,6500);
        xD = 0.3118;
        yD = 0.3224;
        xS = 0.3580;
        yS = 0.3239;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=5000 && t < 5500){
        r=getRatio(t,5500,5000)

        // rgb = [254, 250, 219];
        // xyz = xyz2rgb(rgb);
        xD = 0.3752;
        yD = 0.3238;
        xS = 0.3580;
        yS = 0.3239;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=4500 &&  t < 5000){
        r=getRatio(t,5000,4500)

        xD = 0.4231;
        yD = 0.3304;
        xS = 0.3752;
        yS = 0.3238;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        else if (t < 4500 && t >= 4000){

        r=getRatio(t,4500,4000)
        xD = 0.4949;
        yD = 0.3564;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=0 && t < 4000){

        r=getRatio(t,4000,0);
        xD =  0.5041;
        yD =  0.3334;
        xS = 0.4949;
        yS = 0.3564;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        console.log(xD);
        console.log(yD);
  	  	var chromaticity_x= 0.3580;
  	  	var chromaticity_y=0.3239; 
      }
      }
      else if (des == 21){
         t2 = 4500;
      console.log(tempChange)
      console.log("image temperature")
      // console.log(t);
      // var ratio = (t2 - 3000)/5856;
      // var ratio2 = (10000- t2)/5856;
  
      // console.log("slider")
      // console.log(tempChange)
      if (tempChange == neutral)
        return image;
      else{

        var changeNorm=(tempChange-neutral)/100;
        console.log("changeNorm")
        console.log(changeNorm);
        var t = (math.round(t2+changeNorm*5856));

        console.log("new temperature")
        console.log(t);
        var xD, yD=0;

        if (t >=4500 && t <= 7500){
        r=getRatio(t,4500,7500)
        // rgb = [254, 250, 219];
        // xyz = xyz2rgb(rgb);
        xD = 0.17;
        yD = 0.17;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        // else if (t >=4500 &&  t < 5000){
        // r=getRatio(t,5000,4500)

        // xD = 0.4231;
        // yD = 0.3304;
        // xS = 0.3752;
        // yS = 0.3238;
        // r_x=(xD-xS)/100;
        // xD=xS+r*r_x;
        // r_y=(yD-yS)/100;
        // yD=yS+r*r_y;
        // }
        else if (t < 4500 && t >= 4000){

        r=getRatio(t,4500,4000)
        xD = 0.4949;
        yD = 0.3564;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=3500 && t < 4000){

        r=getRatio(t,4000,3500);
        xD =  0.5141;
        yD =  0.3434;
        xS = 0.4949;
        yS = 0.3564;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }

        else if (t >0 && t < 3500){
        r=getRatio(t,3500,0);
        xD = 0.5189;
        yD = 0.3063;
        xS =  0.5141;
        yS =  0.3434;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        var chromaticity_x= 0.4231;
        var chromaticity_y=0.3304; 

      }
    }
  	   	//get offest / ratio between average and destination chromaticity
  	   	var offset_x = xD/chromaticity_x
  	   	var offset_y = yD/chromaticity_y

        console.log("destination")
  	   	console.log(xD)
        console.log(yD)
  	   	// adjust XYZ values according to ratio
  	   	for (var i = 0; i < image.length; i+=4) {

  	    	if((image[i]+image[i+1]+image[i+2])==0){
  	       		var x_pix=0;
  	       		var y_pix=0;
  	     	}else{
  	       		var x_pix = image[i]/(image[i]+image[i+1]+image[i+2]);
  	       		var y_pix = image[i+1]/(image[i]+image[i+1]+image[i+2]);
  	     	}

  	     	x_pix=x_pix*offset_x;
  	     	y_pix=y_pix*offset_y;

      

  	     	if(y_pix==0){
  	       		output_new[i] = 0
  	       		output_new[i+2] = 0
  	     	}else{
  	       		output_new[i] = (x_pix*image[i+1]/y_pix);
  	       		output_new[i+2] = ((1-x_pix-y_pix)*image[i+1]/y_pix);
  	     	}

  	     	output_new[i+1] = image[i+1];
  	     	output_new[i+3] = 255;

  	   	}

     		//return XYZ values
        changedTemp = t - t2
        document.getElementById("changedColorFlash").value = changedTemp;
     		return output_new;
    
 	}




  function getChromFromTemp(temperature){
    var xD, yD=0;

    // get xy from temperature
    // if(temperature <= 7000){
    //   xD=0.244063+(-4.6070*10**9/temperature**3)+(2.9678*10**6/temperature**2)+(0.09911*10**3/temperature);
    // }else{
    //   xD=0.237040+(-2.0064*10**9/temperature**3)+(1.9018*10**6/temperature**2)+(0.24748*10**3/temperature);
    // }
    // yD=-3*xD**2 + 2.870*xD - 0.275;
    if(temperature<2000){
      r=getRatio(temperature,1500,2000);
      r_x=(0.5267-0.5857)/100;
      // console.log("here");
      // console.log(r);
      xD=0.5857+r*r_x;
      r_y=(0.4133-0.3931)/100;
      yD=0.3931+r*r_y;
      // console.log(newTemp*r_x)
      // console.log(xD);
      // console.log(yD);
    }else if (temperature<2500) {
      r=getRatio(temperature,2000,2500);
      r_x=(0.4770-0.5267)/100;
      xD=0.5267+r*r_x;
      r_y=(0.4137-0.4133)/100;
      yD=0.4133+r*r_y;
    }else if (temperature<2856) {
      r=getRatio(temperature,2500,2856);
      r_x=(0.4475-0.4770)/100;
      xD=0.4770+r*r_x;
      r_y=(0.4074-0.4137)/100;
      yD=0.4137+r*r_y;
    }else if (temperature<4000) {
      r=getRatio(temperature,2856,4000);
      r_x=(0.3802-0.4475)/100;
      xD=0.4475+r*r_x;
      r_y=(0.3767-0.4074)/100;
      yD=0.4074+r*r_y;
    }else if (temperature<5000) {
      r=getRatio(temperature,4000,5000);
      r_x=(0.3444-0.3802)/100;
      xD=0.3802+r*r_x;
      r_y=(0.3513-0.3767)/100;
      yD=0.3767+r*r_y;
    }else if (temperature<5500){
      r=getRatio(temperature,5000,5500);
      r_x=(0.3314-0.3444)/100;
      xD=0.3444+r*r_x;
      r_y=(0.3405-0.3513)/100;
      yD=0.3513+r*r_y;
    }else if (temperature<6500) {
      r=getRatio(temperature,5500,6500);
      r_x=(0.3118-0.3314)/100;
      xD=0.3314+r*r_x;
      r_y=(0.3224-0.3405)/100;
      yD=0.3405+r*r_y;
    }else if (temperature<7500) {
      r=getRatio(temperature,6500,7500);
      r_x=(0.2978-0.3118)/100;
      xD=0.3118+r*r_x;
      r_y=(0.3083-0.3224)/100;
      yD=0.3224+r*r_y;
    }else{
      r=getRatio(temperature,7500,10000);
      r_x=(0.2762-0.2978)/100;
      xD=0.2978+r*r_x;
      r_y=(0.2840-0.3083)/100;
      yD=0.3083+r*r_y;
    }

    return [math.abs(xD),math.abs(yD)];
  }

  function getTemperature2(x,y,z){


      var x = x/(x+y+z);
      var y = y/(x+y+z);

      // console.log(x)
      // console.log(x)
      // console.log(y)
      var n = (x-0.3320)/(0.1858-y);

      CCT = 437*n**3 + 3601*n**2 + 6861*n + 5517;
      // console.log("original temperature")
      // console.log(CCT)
      return math.round(CCT);
  }


 	function getTemperature(image){
   		var x =0.0;
   		var y =0.0;
   		//console.log(image);
   		var counterX = 0;
   		var counterY = 0;

   		for (var i = 0; i < image.length; i+=4) {
     		if((image[i]+image[i+1]+image[i+2])==0){
       			var x_pix=0;
       			var y_pix=0;
     		}else{
       			var x_pix = image[i]/(image[i]+image[i+1]+image[i+2]);
       			var y_pix = image[i+1]/(image[i]+image[i+1]+image[i+2]);
     		}
      		  if (x_pix >= 0.01) {counterX = counterX + 1;}
      		if (y_pix >= 0.01) {counterY = counterY +1;}

     		x+=x_pix;
     		y+=y_pix;
   		}

   		x=x/counterX;
  		y=y/counterY;
   		// console.log(x)
   		// console.log(x)
   		// console.log(y)
   		var n = (x-0.3320)/(0.1858-y);

   		CCT = 437*n**3 + 3601*n**2 + 6861*n + 5517;
   		// console.log("original temperature")
   		// console.log(CCT)
   		return math.round(CCT);
 	}


 	function getRatio(t,low,high){
   		var dist=t-low;
   		var range=(high-low)/100;

   		return (dist/range);
 	}

  function fixBrightnessFlash(input){
      sumOfBrightness = 0;
      cnt = 0;
      for (var i = 0; i < input.length; i+=4) {
          var x = input[i];
          var y = input[i+1];
          var z = input[i+2];

          var white = 17;//[0.9504, 1.0000, 1.089];
          var lab = xyz2lab(x,y,z,des);
          if (lab[0] > 0.01){
              // console.log("lab[0]")
              // console.log(lab[0])
              sumOfBrightness = sumOfBrightness+lab[0];
              cnt = cnt + 1;
          }
      }
      brightness = sumOfBrightness/cnt
      console.log("brightness flash")
      console.log(brightness)
      bright = brightness + 40;
      normal = brightness + 20;
      var random = Math.floor(Math.random() * (bright - normal)) + normal;
      ratio = random / brightness;
      console.log("brightness")
      console.log(random)
      var temp = new Float32Array(input.length)
      for (var i = 0; i < input.length; i+=4) {
         temp[i] = input[i]*ratio;
          temp[i+1] = input[i+1]*ratio;
          temp[i+2] = input[i+2]*ratio;
          temp[i+3] = 255;
        }
         document.getElementById("changedBrightnessFlash").value = random;
         return temp;
  }


 	function fixBrightnessAmbient(input){
      sumOfBrightness = 0;
      cnt = 0;
      for (var i = 0; i < input.length; i+=4) {
          var x = input[i];
          var y = input[i+1];
          var z = input[i+2];

          var white = 17;//[0.9504, 1.0000, 1.089];
          var lab = xyz2lab(x,y,z,des);
          if (lab[0] > 0.01){
              // console.log("lab[0]")
              // console.log(lab[0])
              sumOfBrightness = sumOfBrightness+lab[0];
              cnt = cnt + 1;
          }
      }
      brightness = sumOfBrightness/cnt

      console.log(brightness)
      darkRoom = 10;
      normal = 20.3;
      var random = Math.floor(Math.random() * (normal - darkRoom)) + darkRoom;
      ratio = random / brightness;
      console.log("brightness")
      console.log(random)
      var temp = new Float32Array(input.length)
      for (var i = 0; i < input.length; i+=4) {
         temp[i] = input[i]*ratio;
          temp[i+1] = input[i+1]*ratio;
          temp[i+2] = input[i+2]*ratio;
          temp[i+3] = 255;
        }
  		   document.getElementById("changedBrightness").value = random;
  		   return temp;
 	}

  function fixBrightness(input){
      sumOfBrightness = 0;
      cnt = 0;
      for (var i = 0; i < input.length; i+=4) {
          var x = input[i];
          var y = input[i+1];
          var z = input[i+2];

          var white = 17;//[0.9504, 1.0000, 1.089];
          var lab = xyz2lab(x,y,z,des);
          if (lab[0] > 0.01){
              // console.log("lab[0]")
              // console.log(lab[0])
              sumOfBrightness = sumOfBrightness+lab[0];
              cnt = cnt + 1;
          }
      }
      brightness = sumOfBrightness/cnt

 
      ratio = defaultBrightness / brightness;
      // console.log("brightness")
      // console.log(random)
      var temp = new Uint8ClampedArray(input.length)
      for (var i = 0; i < input.length; i+=4) {
         temp[i] = input[i]*ratio;
          temp[i+1] = input[i+1]*ratio;
          temp[i+2] = input[i+2]*ratio;
          temp[i+3] = 255;
        }
         return temp;
  }

  function getBrightness(input){
      sumOfBrightness = 0;
      cnt = 0;
      for (var i = 0; i < input.length; i+=4) {
          var x = input[i];
          var y = input[i+1];
          var z = input[i+2];
          var lab = xyz2lab(x,y,z,des);
          if (lab[0] > 0.01){
              // console.log("lab[0]")
              // console.log(lab[0])
              sumOfBrightness = sumOfBrightness+lab[0];
              cnt = cnt + 1;
          }
      }
      brightness = sumOfBrightness/cnt

      return brightness;
      // ratio = random / brightness;
      console.log("overall brightness")
      console.log(brightness)
      // var temp = new Float32Array(input.length)
      // for (var i = 0; i < input.length; i+=4) {
      //    temp[i] = input[i]*ratio;
      //     temp[i+1] = input[i+1]*ratio;
      //     temp[i+2] = input[i+2]*ratio;
      //     temp[i+3] = 255;
      //   }
      //    document.getElementById("changedBrightness").value = random;
      //    return temp;
  }

  function fixColorAmbient(image){

    output_new = new Float32Array(output.length);

      if (des == 17){
      t2 = 5500;
      warm = 4700;
      cold = 6000;
      t = (Math.random()*1300)+4700;

      console.log(t)
      console.log(t);
      // var ratio = (t2 - 3000)/5856;
      // var ratio2 = (10000- t2)/5856;
  
      // console.log("slider")
      // console.log(tempChange)
      if (t == t2)
        return image;
      else{
   
        var xD, yD=0;

        // get xy from temperature
        // if(temperature <= 7000){
        //   xD=0.244063+(-4.6070*10**9/temperature**3)+(2.9678*10**6/temperature**2)+(0.09911*10**3/temperature);
        // }else{
        //   xD=0.237040+(-2.0064*10**9/temperature**3)+(1.9018*10**6/temperature**2)+(0.24748*10**3/temperature);
        // }
        // yD=-3*xD**2 + 2.870*xD - 0.275;
        if (t<=10000 && t>6500){
        r=getRatio(t,6500,10000)
        xD = 0.3;
        yD = 0.3;
        xS = 0.3118;
        yS = 0.3224;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        else if (t<=6500 && t>5500){
        r=getRatio(t,5500,6500);
        xD = 0.3118;
        yD = 0.3224;
        xS = 0.3580;
        yS = 0.3239;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=5000 && t <= 5500){
        r=getRatio(t,5500,5000)
        // rgb = [254, 250, 219];
        // xyz = xyz2rgb(rgb);
        xD = 0.3752;
        yD = 0.3238;
        xS = 0.3580;
        yS = 0.3239;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=4500 &&  t < 5000){
        r=getRatio(t,5000,4500)

        xD = 0.4231;
        yD = 0.3304;
        xS = 0.3752;
        yS = 0.3238;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        else if (t < 4500 && t >= 4000){

        r=getRatio(t,4500,4000)
        xD = 0.4949;
        yD = 0.3564;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=0 && t < 4000){

        r=getRatio(t,4000,0);
        xD =  0.5041;
        yD =  0.3334;
        xS = 0.4949;
        yS = 0.3564;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        console.log(xD);
        console.log(yD);
        var chromaticity_x= 0.3580;
        var chromaticity_y=0.3239; 
      }
      }
      else if (des == 21){
        t2 = 4500;
        // warm = 4000;
        cold = 5000;
        t = (Math.random()*1700)+4200;
        // t = 6000;
      // console.log(tempChange)
      console.log("image temperature")
      // console.log(t);
      // var ratio = (t2 - 3000)/5856;
      // var ratio2 = (10000- t2)/5856;
  
      // console.log("slider")
      // console.log(tempChange)
      if (t2 == t)
        return image;
      else{


        var xD, yD=0;

        if (t >=4500 && t <= 7500){
        r=getRatio(t,4500,7500)
        // rgb = [254, 250, 219];
        // xyz = xyz2rgb(rgb);
        xD = 0.17;
        yD = 0.17;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        // else if (t >=4500 &&  t < 5000){
        // r=getRatio(t,5000,4500)

        // xD = 0.4231;
        // yD = 0.3304;
        // xS = 0.3752;
        // yS = 0.3238;
        // r_x=(xD-xS)/100;
        // xD=xS+r*r_x;
        // r_y=(yD-yS)/100;
        // yD=yS+r*r_y;
        // }
        else if (t < 4500 && t >= 4000){

        r=getRatio(t,4500,4000)
        xD = 0.4949;
        yD = 0.3564;
        xS = 0.4231;
        yS = 0.3304;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
      }
        else if (t >=3500 && t < 4000){

        r=getRatio(t,4000,3500);
        xD =  0.5141;
        yD =  0.3434;
        xS = 0.4949;
        yS = 0.3564;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }

        else if (t >0 && t < 3500){
        r=getRatio(t,3500,0);
        xD = 0.5189;
        yD = 0.3063;
        xS =  0.5141;
        yS =  0.3434;
        r_x=(xD-xS)/100;
        xD=xS+r*r_x;
        r_y=(yD-yS)/100;
        yD=yS+r*r_y;
        }
        var chromaticity_x= 0.4231;
        var chromaticity_y=0.3304; 

      }
    }
       
        // console.log(chromaticity_x)
        //get offest / ratio between average and destination chromaticity
        var offset_x = xD/chromaticity_x;
        var offset_y = yD/chromaticity_y;
      // console.log(chromaticity_x)
      //get offest / ratio between average and destination chromaticity
      var offset_x = xD/chromaticity_x;
      var offset_y = yD/chromaticity_y;

      // adjust XYZ values according to ratio
      for (var i = 0; i < image.length; i+=4) {

        if((image[i]+image[i+1]+image[i+2])==0){
            var x_pix=0;
            var y_pix=0;
        }else{
            var x_pix = image[i]/(image[i]+image[i+1]+image[i+2]);
            var y_pix = image[i+1]/(image[i]+image[i+1]+image[i+2]);
        }

        x_pix=x_pix*offset_x;
        y_pix=y_pix*offset_y;

        if(y_pix==0){
            output_new[i] = 0
            output_new[i+2] = 0
        }else{
            output_new[i] = x_pix*image[i+1]/y_pix;
            output_new[i+2] = (1-x_pix-y_pix)*image[i+1]/y_pix;
        }

        output_new[i+1] = image[i+1];
        output_new[i+3] = 255;

      }
      //console.log(output_new)
      //return XYZ values
      changedTemp = t - t2
      document.getElementById("changedColor").value = changedTemp;

      return output_new;

    }
  



    </script>


</body>

</html>
