{% extends "./base.html%}

{% block content%}



<h1 style="text-align: center;">   Welcome to the Survey</h1>
<br>
<div style="text-align: center;">
 <br>
 <h2> click the start button to begin the survey. </h2>
 <br>
 	<p> Please edit each of the following images in a way that looks the best for you.<br>
    <ol>
      <li>
    Each scene is illuminated by two sources of light, flash and ambient. You can choose how much ambient and flash light each scene will have. By going left, the image will be lit more by the ambient light and by going right, the image will be more lit by the flash light.
        <img src="/media/4.gif" alt="Mountains" style="width:50%">
<br>
</li>
      <li>
   The temperature of flash light can be changed. By going left, the temperature will get warmer and by going right, the temperature will be colder.
        <img src="/media/3.gif" alt="Mountains" style="width:50%">
<br>
</li>
    The changes can be very subtle. ِYou can play with each slider until you feel satisfied with the result.</p>
 	<br>
 	
<!--  	<div class="row">
  <div class="column">
    <img src="/media/2.gif" alt="Snow" style="width:100%">
    <p> Change the brightness of ambient light</p>
  </div>
  <div class="column">
    <img src="/media/1.gif" alt="Forest" style="width:100%">
    <p> Change the brightness of flash light</p>
  </div>
  <div class="column">
    <img src="/media/3.gif" alt="Mountains" style="width:100%">
    <p> Change the color of flash light</p>
  </div>
</div>
 	 -->
 	<br>
 	<br>
 
 	<form method="post" id="test">
	{% csrf_token %}
   <button type="submit" name="start" class="button button2">Start</button>
   <br>
   <br><br>
</form>
    <!-- <button type="submit" name="back" class="btn btn-danger">back</button> -->
    </div>
<!-- </form> -->

{% endblock content%}	
