{% extends "./base.html%}

{% block content%}



<h1 style="text-align: center;">   Welcome to the Survey</h1>
<br>
<div style="text-align: center;">
 <br>

 <br>
 	<p> Please edit each of the following images in a way that looks the best for you.<br>
    <ol>
      <li>
   The temperature of flash light can be changed. By going left, the temperature will get warmer and by going right, the temperature will be colder.
        <img src="/media/1new.gif" alt="Mountains" style="width:50%">
<br>
</li>
      <li>
    Each scene is illuminated by two sources of light, flash and ambient. You can choose how much ambient and flash light each scene will have. By going left, the image will be lit more by the ambient light. By going right, the image will be more lit by the flash light.
        <img src="/media/2new.gif" alt="Mountains" style="width:50%">
<br>
</li>

    The changes can be very subtle. ِTake your time, and try to play with each slider until you feel satisfied with the result. Each image can take from 30 seconds to 1 minute to edit. There are 25 images in the survey. It should take around 20 minutes to edit all of the images.
    <br>
    Please use a pc to complete the survey. </p>
 	<br>

<!--  	<div class="row">
  <div class="column">
    <img src="/media/2.gif" alt="Snow" style="width:100%">
    <p> Change the brightness of ambient light</p>
  </div>
  <div class="column">
    <img src="/media/1.gif" alt="Forest" style="width:100%">
    <p> Change the brightness of flash light</p>
  </div>
  <div class="column">
    <img src="/media/3.gif" alt="Mountains" style="width:100%">
    <p> Change the color of flash light</p>
  </div>
</div>
 	 -->
 	<br>
 	<br>
  <p style="font-size: larger"> Please enter your age, gender and proficiency in image editing, then click the "Start" button to begin the survey. </p>
<br>
<div class="container" style="text-align: left;">

  <form method="post" id="test"  onsubmit="return validateForm()">
      {% csrf_token %}

    <div class="row">
      <div class="col-25">
        <label for="fname"><strong>Age </strong></label>
      </div>
      <div class="col-75">
        <input type="number" id="age" name="age" min="1" max="100" placeholder="Your age..">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="gende"><strong> Gender</strong></label>
      </div>
      <div class="col-75">
        <select id="gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
      <div class="row">
      <div class="col-25">
        <label for="experience"><strong> Proficiency in image editing </strong> </label>
      </div>
      <div class="col-75">
        <select id="experience" name="experience">
          <option value="Novice">Novice: I sometimes use applications to make images look better.</option>
          <option value="Intermediate">Intermediate: I know how to work with photographs using tools like Lightroom or Photoshop.</option>
          <option value="Expert">Expert: I can proficiently use advanced photography editing software.</option>
        </select>
      </div>
    </div>
    <br>
    <div style="text-align: center;">
   <button  type="submit" name="start" class="button button2">Start</button>
    </div>
  </form>
</div>

   <br>
   <br><br>
</form>
    <!-- <button type="submit" name="back" class="btn btn-danger">back</button> -->
    </div>
<!-- </form> -->

{% endblock content%}
