{% extends "./base.html%}

{% block content%}


<h1>{{ question.question_text }}</h1>
<img src="{{question.blendedPic.url}}" width="400px">
<img src="{{question.chosenPic.url}}" width="400px">
<br>
<br>
<form method="post">
	{{ vote_form.as_p }}
	{% csrf_token %}
	<button type="submit" name="check" class="btn btn-primary">Check</button>

	<!-- <button type="submit" name="submit" class="btn btn-primary  btn-lg">Submit</button> -->
</form>
<br>

<form method="post">
	{{ finalChoice_form.as_p }}
	{% csrf_token %}
	<button type="submit" name="submit" class="btn btn-success">Submit</button>
	<button type="submit" name="back" class="btn btn-danger">back</button>

</form>
<br>

{% endblock content%}	
